.select {
    position: relative;
    display: block;
    width: 252px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.select__head, .select__list {
    width: 100%;
    padding: 10px 0 10px 14px;
    cursor: pointer;
    background: rgba(128, 131, 164, 0.06);
    border: 2px solid rgba(128, 131, 164, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;

}

.select__head::after {
    width: 13.41px;
    height: 8.12px;
    background: #8083A40F url("../../assets/icons/16/chevron-top.svg") no-repeat center / cover;
    position: absolute;
    right: 8.08%;
    top: 26.83%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head.close::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list.close {
    display: none;
}

.select__list {
    position: absolute;
    padding: 6px;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
    z-index: 100;
    margin: 12px 0 0;
    background: #FFFFFF;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 4px;
    padding: 20px;
    height: 28px;
    background-color: #FFFFFF;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 38px;
    background-color: rgba(128, 131, 164, 0.4);
}

.select__item {
    color: #8083A4;
    position: relative;
    padding: 10px 5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    list-style-type: none;
}

.select__head:active, .select__head:hover {
    border: 2px solid #373AF5;
}

@media (min-width: 320px) and (max-width: 1026px) {
    .select {
        margin-left: calc(24px + (58 - 24) * ((100vw - 320px) / (1026 - 320)));
    }
}
@media (min-width: 1026px) {
    .select {
        margin-bottom: 0;
    }
}
