.dailyForecastBlock {
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

.dailyForecastBlock::-webkit-scrollbar {
    height: 0;
}

.dailyForecastBlock__cards {
    display: inline-flex;
    margin-left: 24px;
}

.dailyForecastBlock__control {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 17px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: url("../../assets/icons/24/chevron-left.svg") no-repeat center;
    user-select: none;
    cursor: pointer;
}

.dailyForecastBlock__control.prev {
    left: 30px;
}

.dailyForecastBlock__control.next {
    transform: rotate(180deg);
    left: 631px;
}

.dailyForecastBlock__control:disabled {
    opacity: 0.6;
    cursor: auto;
}

@media (min-width: 320px) and (max-width: 1026px) {
    .dailyForecastBlock__cards {
        margin-left: calc(24px + (58 - 24) * ((100vw - 320px) / (1026 - 320)));
    }
}

@media (min-width: 1026px) {
    .dailyForecastBlock__cards {
        margin-left: 58px;
    }
}
