.App {
    background: url("https://github.com/Woo63/weather-forecast/blob/main/src/assets/Background/Academy-Weather%20forecast-Bg-mob-up.png?raw=true") right top no-repeat,
    url("./assets/Background/Academy-Weather forecast-Bg-mob-down.png") left bottom no-repeat;
    background-size: 100%;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.select__head, .select__list, .plugBlock__text, .date__head, .dayWeatherCard__date {
    font-size: 16px;
    line-height: 24px;
}

.header {
    min-width: 240px;
    width: 73vw;
    max-width: 755px;
}
.title {
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-top: 32px;
}

.header div {
    text-align: right;
    line-height: 0.7;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
}

.footer {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 16px;
    flex-grow: 1
}


@media (min-width: 320px) and (max-width: 1026px) {
    .title {
        font-size: calc(32px + (102 - 32) * ((100vw - 320px) / (1026 - 320)));
        margin-bottom: calc(24px + (65 - 24) * ((100vw - 320px) / (1026 - 320)));
        padding-top: calc(32px + (102 - 32) * ((100vw - 320px) / (1026 - 320)));
    }
}

@media (min-width: 600px) {
    .App {
        background: url("./assets/Background/Academy-Weather forecast-Bg-up-1.png") right top no-repeat,
        url("./assets/Background/Academy-Weather forecast-Bg-buttom.png") left bottom no-repeat;
        background-size: 100vw auto;
    }
}

@media (min-width: 1026px) {
    .title {
        font-size: 102px;
        margin-bottom: 65px;
        padding-top: 65px;
    }

    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}

@media (min-width: 1300px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1440px) {
    .App {
        background: url("./assets/Background/Academy-Weather forecast-Bg-up.png") right top no-repeat,
        url("./assets/Background/Academy-Weather forecast-Bg-buttom@2x.png") left bottom no-repeat;
        background-size: 100vw 100%;
    }
}

