@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: normal;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: bold;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 100;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 100;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-LightItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu"),
  url("/src/assets/Fonts/Ubuntu-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu"),
  url("assets/Fonts/Ubuntu-MediumItalic.ttf") format("ttf");
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #373AF5;
}
h1{
  margin: 0;
  font-size: 32px;
  line-height: 1;
}
h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  padding: 32px 0;
  margin: 0;
  text-align: left;
}
footer, header, main{
  padding: 0;
  margin: 0;
}
input{
  -webkit-appearance: none;
}
button{
  outline: none;
  border: none;
  padding: 0;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
